<!DOCTYPE html>
<html lang="en">
<head>
  <title>Social Contribution || Digital Donor Auction</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Thasadith" rel="stylesheet">

  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */

    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
      background-color: #dcc7aa;
      border-color: #dcc7aa;
    }
    .panel- {
      font: Helvetica;
      font-weight: 17px;
    }

    /* Remove the jumbotron's default bottom margin */
    .jumbotron {
      margin-bottom: 0;
      background-color: #f7882f;
    }

    .panel {
      background-color: #f7c331;
    }

    body {

      font-family: 'Thasadith', sans-serif;
      font-size: 20px;
      font-weight: bolder;

    }

    .panel-heading {
      font-size: 30px;
      font-weight: bolder;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #6b7a8f;
      padding: 25px;
    }

  .btn {
    background-color: #f7882f;
    border-color: #f7882f;
  }


  </style>
</head>

<body>

<div class="jumbotron">
  <div class="container text-center">
    <strong><h1>Social Contribution</h1></strong>
    <h2>Digital Donor Auction</h2>
  </div>
</div>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <!--
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
          </ul>
      </div>
      -->
    </div>
    </nav>


  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">Roundtrip Flight for 2 to Hawaii</div>
        <div class="panel-body"><img src="hawaii.jpg" class="img-responsive" style="width:100%" alt="hawaii"></div>
        <div class="panel-footer">First-class, roundtrip flight to majestic Hawaii! Donated by Southwest Airlines.<br><br></div>
      </div>
      <!-- print current high bidder and bid
       escape html and evaluate variables in encapsulated code -->

      <% if (locals.highBid1) { %>
        Current High Bidder <br>
        Bidder: <%= winningEmail1 %> <br>
        Bid: &nbsp; &#36;<%= highBid1 %> <br><br>
      <%} %>


      <form id="item1" action="/bid1" method="post" class="form-inline">Bid:
        <input id="bid1" name="bid1" type="text" class="form-control" size="20" placeholder="Bid"><br><br>Email: &nbsp; &nbsp; &nbsp;
        <input id="email1" name="email1" type="email" class="form-control" size="20" placeholder="Email Address"><br><br>
        <button type="submit" form="item1" class="btn btn-danger">Place Bid</button>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">Goose Island Beer Co. VIP Tour for 4</div>
        <div class="panel-body"><img src="goose-island.jpg" class="img-responsive" style="width:100%" alt="goose-island"></div>
        <div class="panel-footer">All access tour with beer tasting and 3-course dinner<br><br></div>
      </div>
      <!-- print current high bidder and bid
      escape html and evaluate variables in encapsulated code -->

      <% if (locals.highBid2) { %>
        Current High Bidder <br>
        Bidder: <%= winningEmail2 %> <br>
        Bid: &nbsp; &#36;<%= highBid2 %> <br><br>
      <%} %>


      <form id="item2" action="/bid2" method="post" class="form-inline">Bid:
        <input id="bid2" name="bid2" type="text" class="form-control" size="20" placeholder="Bid"><br><br>Email:
        <input id="email2" name="email2" type="email" class="form-control" size="20" placeholder="Email Address"><br><br>
        <button type="submit" form="item2" class="btn btn-danger">Place Bid</button>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">Go Ape Zip Line and Tree Top Adventure for 4</div>
        <div class="panel-body"><img src="go_ape.jpg" class="img-responsive" style="width:100%" alt="go ape zip line"></div>
        <div class="panel-footer">Thrilling 2-3 hour outdoor experience featuring zip lines, tarzan swings, and more!<br><br></div>
      </div>
      <!-- print current high bidder and bid
      escape html and evaluate variables in encapsulated code -->

      <% if (locals.highBid3) { %>
        Current High Bidder <br>
        Bidder: <%= winningEmail3 %> <br>
        Bid: &nbsp; &#36;<%= highBid3 %> <br><br>
      <%} %>

      <form id="item3" action="/bid3" method="post" class="form-inline">Bid:
        <input id="bid3" name="bid3" type="text" class="form-control" size="20" placeholder="Bid"><br><br>Email:
        <input id="email3" name="email3" type="email" class="form-control" size="20" placeholder="Email Address"><br><br>
        <button type="submit" form="item3" class="btn btn-danger">Place Bid</button>
      </form>
      </form>
    </div>
  </div>
</div><br>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">Hamilton for 2</div>
        <div class="panel-body"><img src="hamilton-in-chicago.jpg" class="img-responsive" style="width:100%"; alt="hamilton"></div>
        <div class="panel-footer">FRONT ROW tickets for 2 at CIBC Theater and Dinner at Grillroom Chophouse & Wine Bar<br><br><br></div>
      </div>
      <!-- print current high bidder and bid
      escape html and evaluate variables in encapsulated code -->
      <% if (locals.highBid4) { %>
        Current High Bidder <br>
        Bidder: <%= winningEmail4 %> <br>
        Bid: &nbsp; &#36;<%= highBid4 %> <br><br>
      <%} %>
      <form id="item4" action="/bid4" method="post" class="form-inline">Bid:
        <input id="bid4" name="bid4" type="text" class="form-control" size="20" placeholder="Bid"><br><br>Email:
        <input id="email4" name="email4" type="email" class="form-control" size="20" placeholder="Email Address"><br><br>
        <button type="submit" form="item4" class="btn btn-danger">Place Bid</button>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">Shedd Aquarium Membership for 4</div>
        <div class="panel-body"><img src="shedd_aquarium.jpg" class="img-responsive" style="width:100%" alt="shedd aquarium"></div>
        <div class="panel-footer">Includes admission to the Aquarium, Wild Reef, Abbott Oceanarium, Special Exhibits, and Stingray Touch</div>
      </div>
      <!-- print current high bidder and bid
escape html and evaluate variables in encapsulated code -->

      <% if (locals.highBid5) { %>
        Current High Bidder <br>
        Bidder: <%= winningEmail5 %> <br>
        Bid: &nbsp; &#36;<%= highBid5 %> <br><br>
      <%} %>
      <form id="item5" action="/bid5" method="post" class="form-inline">Bid:
        <input id="bid5" name="bid5" type="text" class="form-control" size="20" placeholder="Bid"><br><br>Email:
        <input id="email5" name="email5" type="email" class="form-control" size="20" placeholder="Email Address"><br><br>
        <button type="submit" form="item5" class="btn btn-danger">Place Bid</button>
      </form>
    </div>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">West Side Story for 2</div>
        <div class="panel-body"><img src="WestSideStory.jpg" class="img-responsive" style="width:100%" alt="west side story"></div>
        <div class="panel-footer">Broadway Musical Masterpiece at Lyric Opera<br><br><br></div>
      </div>
      <!-- print current high bidder and bid
      escape html and evaluate variables in encapsulated code -->

      <% if (locals.highBid6) { %>
        Current High Bidder <br>
        Bidder: <%= winningEmail6 %> <br>
        Bid: &nbsp; &#36;<%= highBid6 %> <br><br>
      <%} %>

      <form id="item6" action="/bid6" method="post" class="form-inline">Bid:
        <input id="bid6" name="bid6" type="text" class="form-control" size="20" placeholder="Bid"><br><br>Email:
        <input id="email6" name="email6" type="email" class="form-control" size="20" placeholder="Email Address"><br><br>
        <button type="submit" form="item6" class="btn btn-danger">Place Bid</button>
      </form>
    </div>
  </div>
</div><br><br>

<footer class="container-fluid text-center">
  <small><i>Copyright &copy; 2019 Social Contribution</i></small>
</footer>

</body>
</html>
